.btn-atv-reu {
    width: 350px;
    height: 175px;
    border-radius: 20px;
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.58);
    cursor: pointer;
    border: none;
}

#conteudo {
    display: flex;
    flex-direction: column;
}

#titulo-status {
    margin: 30px 10px;
    margin-top: -60px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 320px;
    height: 30px;
    position: absolute;
}

#conteudo-btn-atv {
    position: absolute;
    margin: 30px 12px;
    margin-top: 20px;
    width: 120px;
    height: 50px;
}
/* // margin: 30px 12px;
margin-top: 35px; */
#conteudo-btn-reu {
    position: absolute;
    margin: 30px 13px;
    width: 170px;
    height: 20px;
    padding: 0;
}

.nav {
    margin: 15px 40px;
    padding: 0;
}

#disciplina-pd {
    margin: 0px -55px;
    margin-bottom: 20px;
    margin-top: 15px;
    position: absolute;
}

.text-titulo {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Arial';
}
.text-data {
   font-weight: 600;
    font-size: 17px;
    width: 100px;
    font-family: 'Arial';

}

:where(.css-dev-only-do-not-override-1wazalj).ant-btn {
    font-size: 35px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
}