.inputcadastro{
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: #E4E4E4;
    border: 2px solid #000;
}

.btn-cadastrar{
    position: center;
    color: #FFF;
    bottom: 30px;
    right: 30px;
    background-color: #BE0D00;
    border: none;
    padding: 10px 40px;
    border-radius: 79px;
    font-size: 14px;
    cursor: pointer;
}