h1{
  font-size: 2em;
  font-weight: bold;
  font-family: 'Arial';
  margin: 0px;
  padding: 0px;
}

#menu{
  background: #085c16;
    height: 100vh;
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.88);
}

main {
  margin: '24px 16px';
  padding: 240;
  min-height: 510;
  text-align: left;
  vertical-align: center;
  line-height: 5vh;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.58);
  flex-shrink: 0;
}


:where(.css-dev-only-do-not-override-1wazalj)[class^="ant-layout"], :where(.css-dev-only-do-not-override-1wazalj)[class*=" ant-layout"] {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  font-size: 15px;
  box-sizing: border-box;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1wazalj).ant-menu-light>.ant-menu .ant-menu-item-selected {
  background-color: #ffffff;
  color: #000000;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-layout .ant-layout-sider-trigger {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 48px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  background: #002140;
  cursor: pointer;
  transition: all 0.2s;
}


.custom-menu-item {
  background-color: #00000000;
  color: #ffffff;
}

.btn-red {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #BE0D00;
  color: #ffffff;
  border: none;
  padding: 10px 40px;
  border-radius: 79px;
  font-size: 14px;
  cursor: pointer;
  }

.btn-acessar {
    position: center;
    color: #FFF;
    bottom: 30px;
    right: 30px;
    background-color: #BE0D00;
    border: none;
    padding: 10px 40px;
    border-radius: 79px;
    font-size: 14px;
    cursor: pointer;
}

.button {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #eaeaea;
  cursor: pointer;
}



.button span {
  display: block;
  margin-top: 5px;
}