main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

h1{
  font-size: 2em;
  font-weight: bold;
  font-family: 'Arial';
  margin: 0px;
  padding: 0px;
}

main {
  text-align: left;
  vertical-align: center;
  line-height: 5vh;
}

.conteudos {
  background-color: #ffffff;
  
}

.content{
  display: inline-block;
}

#text1{
  color: #00000000;  
}

.custom-menu-item {
  background-color: #00000000;
  color: #ffffff;
}